affine
amqp
asgiref
attrs
billiard
boto3
botocore
celery
certifi
click
click-plugins
cligj
dj-database-url
Django
django-colorful
django-cors-headers
django-dotenv
django-leaflet
django-raster

Fiona
# GDAL
geojson
gunicorn
importlib-metadata
jmespath
kombu
mkl-fft
mkl-random

munch
numpy
Pillow
psycopg2
pyparsing
python-dateutil
python-dotenv
pytz
rasterio
rasterstats
s3transfer
Shapely==1.6.4.post1
simplejson
six
snuggs
sqlparse
urllib3
vine
whitenoise
wincertstore
zipp
