affine
amqp
# apturl
asgiref
attrs
beautifulsoup4
billiard
blinker
boto3
botocore
# Brlapi
celery
certifi
chardet
checkbox-support
click
click-plugins
cligj
command-not-found
cryptography
defer
dj-database-url
Django
django-colorful
django-cors-headers
django-dotenv
django-leaflet
django-raster
docutils
feedparser
Fiona
GDAL
geojson
guacamole
gunicorn
html5lib
httplib2
icc-rt
idna
importlib-metadata
intel-numpy
intel-openmp
Jinja2
jmespath
kombu
language-selector
louis
lxml
Mako
MarkupSafe
mkl
mkl-fft
mkl-random
munch
numpy
oauthlib
onboard
padme
pexpect
Pillow
plainbox
psycopg2
ptyprocess
pyasn1
pycups
pycurl
pygobject
PyJWT
pyparsing
python-apt
python-dateutil
python-debian
python-dotenv
python-systemd
pytz
pyxdg
rasterio
rasterstats
reportlab
requests
s3transfer
sessioninstaller
Shapely
simplejson
six
snuggs
sqlparse
system-service
tbb
tbb4py
ubuntu-drivers-common
ufw
unattended-upgrades
unity-scope-calculator
unity-scope-chromiumbookmarks
unity-scope-colourlovers
unity-scope-devhelp
unity-scope-firefoxbookmarks
unity-scope-gdrive
unity-scope-manpages
unity-scope-openclipart
unity-scope-texdoc
unity-scope-tomboy
unity-scope-virtualbox
unity-scope-yelp
unity-scope-zotero
urllib3
usb-creator
vine
whitenoise
wincertstore
xdiagnose
xkit
XlsxWriter
zipp
